.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.container-header {
    display: flex;
    align-items: center;
}



nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    column-gap: 40px;
}

.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo {
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}


.contacts-link {
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.contacts-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.address {
    font-style: normal;
}