.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.logo .web {
    color: #4d5ae5;
}

.nav .menu-link:hover,
.nav .menu-link:focus,
.contacts .contact-link:hover,
.contacts .contact-link:focus {
    color: #404bbf;
}

.nav .menu-link {
    font-weight: 500;
    display: block;
    padding: 24px 0;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.contacts .contact-link {
    color: #434455;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 76px;
}

.contacts {
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.contact-link {
    padding: 24px 0;
}