.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;


}

.hero-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    margin-top: 48px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}